@import 'partials/reset';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@import 'partials/variables';

body {
	// background: linear-gradient(to top right, rgb(140, 255, 136), rgb(29, 191, 245));
	background: $primary-bg-color;
}

.container {
	max-width: 600px;
	padding: 0 30px;
	margin: 0 auto;
}

header {
	padding-top: 4rem;
	display: flex;
	justify-content: center;
	.header-h1 {
		text-align: center;
		font-size: 3rem;
		color: $primary-text-color;
	}
}

button {
	border: none;
	border-radius: 50px;
	border: 1px solid $primary-text-color;
	background-color: $button-bg-color-secondary;
	color: white;
	cursor: pointer;
}

.play-against {
	margin-top: 3.5rem;
	display: flex;
	justify-content: center;
	button {
		margin: 1rem;
		padding: 10px 20px;
		width: 100px;
		display: flex;
		justify-content: center;
		color: $button-bg-color-secondary;
		background-color: white;
		border: 1px solid $button-bg-color-secondary;
		border-radius: 0;
	}
	.play-against-computer {
		opacity: .5;
	}
}

.form-players {
	margin-top: 3.5rem;
	// display: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	.form-players-fieldset {
		display: flex;
		flex-direction: column;
		label {
			margin-bottom: .6rem;
			color: $secondary-text-color;
			font-size: 1.2rem;
		}
		input {
			border: none;
			background-color: $primary-bg-color;
			border-bottom: 1px solid $secondary-text-color;
			padding: 2px;
			font-size: 1rem;
		}
		input:not(:last-child) {
			margin-bottom: 3rem;
		}
		input:last-child {
			margin-bottom: 2rem;
		}
	}
}

.start-game-button {
	// display: none;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 3rem;
	button {
		padding: 10px 20px;
	}
}

.players-score {
	display: none;
	// display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: 6rem;
	font-size: 1.2rem;
	color: $secondary-text-color;
	.score {
		font-size: 1.5rem;
		color: $primary-text-color;
	}
}

.gameboard-grid {
	display: none;
	// display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 4rem;
	background-color: rgba(0, 0, 0, 0.212);
	.gameboard-grid-item {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $secondary-text-color;
		background: $primary-bg-color;
		font-size: 3rem;
	}
	// equal grid-item height to grid-item-width
	.gameboard-grid-item::before {
		content: "";
		padding-bottom: 100%;
		display: inline-block;
		vertical-align: top;
	}

}

.play-game-buttons {
	display: none;
	// display: flex;
	flex-direction: column;
	@media screen and (min-width: 580px) {
		flex-direction: row;
	}
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	button {
		margin: 1rem;
		padding: 12px 20px;
		width: 120px;
	}
}

.winner-game {
	display: none;
	// display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	.winner-message {
		margin-bottom: 2rem;
		color: $secondary-text-color;
		font-size: 3rem;
		text-align: center;
	}
	.end-game-buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@media screen and (min-width: 580px) {
			flex-direction: row;
		}
		button {
			margin: 1rem;
			padding: 12px 20px;
			width: 120px;
		}
	}
}



/*
Start watching for compiling scss to css
sass --watch main.scss:main.css
*/

/* Declaration order 

	Positioning
	Box model
	Typographic
	Visual
	Misc

		*Positioning*
		
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
	
		*Box-model*

		display: block;
		float: right;
		width: 100px;
		height: 100px;
	
		*Typography*

		font: normal 13px "Helvetica Neue", sans-serif;
		line-height: 1.5;
		color: #333;
		text-align: center;
	
		*Visual*

		background-color: #f5f5f5;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
	
		*Misc*
		
		opacity: 1;

*/
