/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #5cdb95; }

.container {
  max-width: 600px;
  padding: 0 30px;
  margin: 0 auto; }

header {
  padding-top: 4rem;
  display: flex;
  justify-content: center; }
  header .header-h1 {
    text-align: center;
    font-size: 3rem;
    color: #edf5e1; }

button {
  border: none;
  border-radius: 50px;
  border: 1px solid #edf5e1;
  background-color: #ff8800;
  color: white;
  cursor: pointer; }

.play-against {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center; }
  .play-against button {
    margin: 1rem;
    padding: 10px 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    color: #ff8800;
    background-color: white;
    border: 1px solid #ff8800;
    border-radius: 0; }
  .play-against .play-against-computer {
    opacity: .5; }

.form-players {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form-players .form-players-fieldset {
    display: flex;
    flex-direction: column; }
    .form-players .form-players-fieldset label {
      margin-bottom: .6rem;
      color: #05386b;
      font-size: 1.2rem; }
    .form-players .form-players-fieldset input {
      border: none;
      background-color: #5cdb95;
      border-bottom: 1px solid #05386b;
      padding: 2px;
      font-size: 1rem; }
    .form-players .form-players-fieldset input:not(:last-child) {
      margin-bottom: 3rem; }
    .form-players .form-players-fieldset input:last-child {
      margin-bottom: 2rem; }

.start-game-button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem; }
  .start-game-button button {
    padding: 10px 20px; }

.players-score {
  display: none;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 6rem;
  font-size: 1.2rem;
  color: #05386b; }
  .players-score .score {
    font-size: 1.5rem;
    color: #edf5e1; }

.gameboard-grid {
  display: none;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 4rem;
  background-color: rgba(0, 0, 0, 0.212); }
  .gameboard-grid .gameboard-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #05386b;
    background: #5cdb95;
    font-size: 3rem; }
  .gameboard-grid .gameboard-grid-item::before {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top; }

.play-game-buttons {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem; }
  @media screen and (min-width: 580px) {
    .play-game-buttons {
      flex-direction: row; } }
  .play-game-buttons button {
    margin: 1rem;
    padding: 12px 20px;
    width: 120px; }

.winner-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem; }
  .winner-game .winner-message {
    margin-bottom: 2rem;
    color: white;
    font-size: 3rem;
    text-align: center; }
  .winner-game .end-game-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 580px) {
      .winner-game .end-game-buttons {
        flex-direction: row; } }
    .winner-game .end-game-buttons button {
      margin: 1rem;
      padding: 12px 20px;
      width: 120px; }

.bg-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.7); }

.modal-content {
  position: relative;
  padding: 20px 40px;
  margin: 0 30px;
  border-radius: 4px;
  height: auto;
  max-height: 80vh;
  border-radius: 5px;
  border: 10px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: auto; }

/*
Start watching for compiling scss to css
sass --watch main.scss:main.css
*/
/* Declaration order 

	Positioning
	Box model
	Typographic
	Visual
	Misc

		*Positioning*
		
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
	
		*Box-model*

		display: block;
		float: right;
		width: 100px;
		height: 100px;
	
		*Typography*

		font: normal 13px "Helvetica Neue", sans-serif;
		line-height: 1.5;
		color: #333;
		text-align: center;
	
		*Visual*

		background-color: #f5f5f5;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
	
		*Misc*
		
		opacity: 1;

*/

/*# sourceMappingURL=main.css.map */
